<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      Musessions is made with <i class="fas fa-headphones"></i> by the Jammer team
    </div>
  </div>
</div>

