<div class="footer">
  <div class="footer-links">
    <%= link_to "https://github.com/joshbolland/musessions/" do %>
      <i class="fab fa-github"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    Musessions is made with <i class="fas fa-headphones"></i> by the Jammer team
  </div>
</div>
