<div class="navbar-wagon">
  <!-- Logo -->
    <%= link_to image_tag("logo.png", class: "navbar-wagon-brand"), root_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "Bookings", bookings_path, class: "navbar-wagon-item navbar-wagon-link"  %>
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-wagon-item navbar-wagon-link"  %>

    <%= link_to image_tag("https://res.cloudinary.com/dbudzoydf/image/upload/c_crop,h_1728,w_1728/v1542209882/adult-beach-beard-736716.jpg", class: "profilepic", id:"navbar-wagon-menu"), user_path(current_user) %>
  </div>
</div>
