<div class="navbar-wagon">
  <!-- Logo -->
<%= link_to image_tag("logo.png", class: "navbar-wagon-brand"), root_path %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <a href="<%= new_user_session_path %>" class="navbar-wagon-item navbar-wagon-link">Sign in</a>
    <a href="<%= new_user_registration_path  %>" class="navbar-wagon-item navbar-wagon-link">Sign up</a>
    <!-- <a href="" class="navbar-wagon-item navbar-wagon-link">Messages</a> -->
  </div>
</div>
