.button-user {
  color: white;
    background-color: #242038;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    transition: background 0.3s ease;
    font-family: Raleway;
    border-style: none;
    margin: 40px;
    height: 42px;
    width: 126px;
}

.button-user:hover {
    color: #242038;
    background: white;
    transition: background 0.3s ease;
}
.button {
    color: white;
    background: #242038;
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
    padding: 8px 25px;
    border-radius: 4px;
    margin-top: 25px;
    margin-left: 230px;
    transition: background 0.3s ease;
    font-family: Raleway;
    border-style: none;
  }
  .button:hover {
    color: #242038;
    background: white;
    transition: background 0.3s ease;
  }
