.profile_card {
  background-size: cover !important;
  background-color: rgb(250, 250, 250);
  background-position: center;
  color: #484848;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  width: 400px;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px auto;

  h3 {
    font-size: 20px;
  }

  h1 {
    margin-top: 0px;
  }
}

.small-margin-top {
  margin-top: 8px;
}

.paragraph-flex {
  text-align: center;
}


.h1 {
  margin-right: 930px;
  margin-bottom: 0px;
 }

.bio_card {
  width: 80%;
  background-size: cover !important;
  background-color: rgb(250, 250, 250);
  background-position: center;
  color: #484848;
  position: relative;
  padding: 24px 40px;
  border-radius: 4px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  height: 550px;

p {
  text-align: center;
  margin-top: 70px;
  }
h2 {
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
}
}
