.profile_card {
  background-size: cover !important;
  background-color: white;
  background-position: center;
  color: #484848;
  position: relative;
  margin-left: 40px;
  margin-right: 1000px;
  margin-bottom: 100px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  width: 400px;
  height: 400px
}

.h1 {
  margin-left: 40px;
 }

.bio_card {
  width: 80%;
  background-size: cover !important;
  background-color: white;
  background-position: center;
  color: #484848;
  position: relative;
  margin: 40px;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
  height: 400px
}
// .result-index {
//   height: 220px;
//   width: 600px;
//   background-color: white;
//   color: #484848;
//   position: relative;
//   margin: 20px;
//   padding: 20px;
//   border-radius: 4px;
//   box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);
// }
// .result-user-index {
//   position: absolute;
//   right: 20px;
//   top: 15px;
//   border-radius: 50%;
// }

// .result-description-index {
//   position: absolute;
//   bottom: 40px;
//   left: 20px;
// }

// .result-description-index p {
//   font-size: 20px;
//   opacity: 0.9;
// }
// .result-link-index {
//   position: absolute;
//   bottom: 20px;
//   right: 30px;
//   font-size: 16px;
//   border: 1px solid #484848;
//   padding: 10px;
//   border-radius: 20px;
// }
// .result-link-index a {
//   color: #484848;
// }

// .result-link-index a:hover {
//   opacity: 0.9;
//   text-decoration: none;
// }
